//font
$font: Montserrat, sans-sarif;

//colors
$lightblue: #D7F5FC;
$blue: #6FCDE2;
$yellow: #FFB11B;
$black: #010101;
$white: #FFFFFF;
$red: #A30000;
$gray: #9D9D9D;
$lightgray: #F2F2F2;

$formborder: #828282;
$validcol: #5581D7;
$invalidcol: #EB5757;