.header {
    position: relative;

    .videobg__wrap {
        position: absolute;
        @include pos($t: 0, $l:0, $r:0, $b:0);
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: 1;

        .header__videobg {
            min-height: 100%;
            min-width: 100%;
        }
    }

    width: 100%;
    height: 100vh;
    margin: 0 0 75px 0;
    background: url('../images/header_bg.png') no-repeat center center;
    background-size: cover;
    color:$white;
    font: 500 18px $font;

    &__wraper {
        position: relative;
        z-index: 2;
        width: 100%;
        padding-top: 75px;
        justify-content: space-between;
        height: inherit;
    }

    &__logo {
        justify-content: space-around;

        .link {
            position: relative;
            width: 165px;
            height: 80px;
            overflow: hidden;

            &:before {
                
                @include pos($t: 30%, $l:0);
                width: 500px;
                height: 25%;
                filter: blur(13px);
                background: rgb(131, 58, 180);
                background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%) center center;
                background-size: 70%;
                opacity: .8;
                z-index: 1;
                 animation: disco 2s infinite linear;

            }

            &:hover {
               
                animation: bounce 1s infinite linear;
                &:before{
                    content: '';
                }
            }

            .logo__svg {
                width: 165px;
                height: 80px;
                cursor: pointer;
            }
        }

        @keyframes disco {
            0% {
                background-position: -150% 0;
            }

            33% {
                background-position: 150% 0;
            }

            66% {
                background-position: -150% 0;
            }

            100% {
                background-position: 150% 0;
            }
        }


        @keyframes bounce {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-15px);
            }

            100% {
                transform: translateY(0);
            }
        }
    }

    .header__main {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header__nav {
            display: flex;
            text-align: left;

            .nav__item {
                position: relative;
                z-index: 1;

                .nav__link {
                    width: 110px;
                    cursor: pointer;
                    color: $white;
                    padding: 0 30px 0 0;
                    position: relative;
                    overflow: hidden;
                    transition: all .3s;


                }

                .nav__link:before {
                    content: '';
                    @include pos($t: 0, $r:15px);
                    background: rgba(0, 114, 163, 0);
                    width: 90%;
                    height: 100%;
                    margin: 0 5%;
                    z-index: -1;
                }

                &:not(:first-child):after {
                    content: '';
                    @include pos($t: 6px, $l:-15px);
                    width: 1px;
                    height: 10px;
                    background: $white;
                }


            }

            .nav__item:hover .nav__link:before {
                background: rgba(0, 114, 163, 0.5);
            }

        }
    }

    .header__text {
        font: 700 22px/32px $font;
    }

    .header__button {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;

        .button__text {
            font: 800 22px/92px $font;
        }

        .button__subscribe {
            .registration__link {
                cursor: pointer;
                display: block;
                width: 180px;
                height: 40px;
                color: $white;
                line-height: 40px;
            }
        }
    }

    .header__social {
        justify-content: space-between;
        display: flex;
        margin-bottom: 75px;

        .social__item {
            //margin-left: 30px;
            font-size: 40px;


            > .social__link {
                display: block;
                line-height: 45px;
                text-align: center;
                width: 40px;
                height: 40px;

                .icon {
                    color: $white;
                }

                .icon-instagram:hover {
                    color: #517fa4;
                }

                .icon-facebook:hover {
                    color: #3b5998;
                }

                .icon-youtube:hover {
                    color: #b31217;
                }

                .icon-phone:hover {
                    color: #0F9D58;
                }

                .icon-email:hover {
                    color: #5ac8fa;
                }

                .icon-map:hover {
                    color: #F4B400;
                    ;
                }
            }

        }
    }
}
