.navbar {
    margin: 0 auto;

    .dotstyle ul {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        li {
            height: 17px;
            width: 70px;
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 0px 8px 32px;
            cursor: pointer;


            &:not(:last-child) .dot:after {
                content: '';
                top: 12px;
                left: 34%;
                height: 33px;
                width: 3px;
                position: absolute; 
                background: url('../images/dots.svg');
            }


            a {
                text-decoration: none;
                font-family: $font;
                font-size: 14px;
                color: $gray;

                &:hover {
                    font-size: 16px;
                    font-weight: 700;
                }
            }


            a .dot {
                top: 24%;
                left: -20px;
                width: 9px;
                height: 9px;
                outline: none;
                border-radius: 50%;
                background-color: rgba(157, 157, 157, 1);
                //text-indent: -999em;
                cursor: pointer;
                position: absolute;

                &:focus {
                    outline: none;
                }
            }
        }

        .current {
            a {
                font-size: 16px;
                font-weight: 700;
                color: #f00;
            }

            a .dot {
                background-color: #F00;
            }
        }

    }



    //SCALE UP

    //    .dotstyle-scaleup li a {
    //        -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
    //        transition: transform 0.3s ease, background-color 0.3s ease;
    //    }
    //
    //    .dotstyle-scaleup li a:hover,
    //    .dotstyle-scaleup li a:focus {
    //        background-color: #f00;
    //    }
    //
    //    .dotstyle-scaleup li.current a {
    //        background-color: #f00;
    //        -webkit-transform: scale(1.4);
    //        transform: scale(1.4);
    //    }
    //
    //    /* Stroke */
    //
    //    .dotstyle-stroke li a {
    //        //box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
    //        -webkit-transition: box-shadow 0.3s ease, background-color 0.3s ease;
    //        transition: box-shadow 0.3s ease, background-color 0.3s ease;
    //    }
    //
    //    .dotstyle-stroke li a:hover,
    //    .dotstyle-stroke li a:focus {
    //        background-color: #f00;
    //    }
    //
    //    .dotstyle-stroke li.current a {
    //        background-color: transparent;
    //        box-shadow: 0 0 0 2px white;
    //    }


}
