.navbar {
    display: none;
    position: fixed;
    top: 30%;
    right: 100px;
    margin: 0 auto;
    z-index: 1;
    max-width: 12%;


    .dot__nav .list {

        .list__item {
            height: 17px;
            width: 200px;
            position: relative;
            margin: 0px 8px 11px;
            padding: 15px;
            cursor: pointer;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;

            &:not(:last-child) .dot:after {
                content: '';
                top: 12px;
                left: 34%;
                height: 33px;
                width: 3px;
                position: absolute;
                background: url('../images/dots.svg');
            }

            .dot:before {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: rgba(157, 157, 157, 1);
                transition: all .5s;
            }
 

            .item__link {
                width: 180px;
                height: 30px;
                text-decoration: none;
                overflow: hidden;

                .text__wrapp {
                    height: 17px;
                    width: 200px;
                    padding: 15px;
                    overflow: hidden;
                    position: relative;

                    .link__text {
                        position: absolute;
                        top: 0;
                        margin-left: 20px;
                        left: -110%;
                        transition: all .4s;
                        padding: 0 5px;
                        font: 400 14px/24px $font;
                        color: black;
                        z-index: -1;
                        
                    }

                }

            }


            .item__link .dot {
                z-index: 2;
                top: 24%;
                left: 7px;
                width: 9px;
                height: 9px;
                outline: none;
                cursor: pointer;
                position: absolute;


                &:focus {
                    outline: none;
                }
            }

            &:hover .item__link {

                .dot {

                    &:before {

                        background: url('../images/nav_dot.svg') no-repeat;
                        background-size: cover;
                        transform: scale(1.5);
                    }
                }
 
                .text__wrapp {
                    opacity: 1;

                    .link__text {
                        z-index: 1;
                        left: -10px;
                        background: rgba(0, 114, 163, 0.5);          
                    }
                }

            }
        }

    }

}
