.schedule {
    position: relative;

    .schedule__bg {
        @include pos($l: 0, $t:-10%);
        width: 100%;
        height: 100%;
        z-index: -1;
        //background: url('../images/schedule__bg.png') no-repeat bottom right;
        overflow: hidden;
        
         .schedule__img{
            width: 100%;
            height: 100%;
            
            img{
                margin: 60% 0 0 75%;
                height: 560px;
            }
        }
    
    }


    .schedule__text {
        padding: 0 15px;
    }

    &__main {
        width: 100%;

        .schedule__table {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            font: 400 16px/23px $font;
            color: $black;
            grid-gap: 7px 20px;
            justify-items: center;

            .tile {
                width: 100%;
                height: 400px;
                margin-bottom: 65px;


                &__head {
                    height: 10%;
                    text-align: center;
                    line-height: 40px;
                    font-weight: 700;
                    color: #010101;
                    background: rgba(111, 205, 226, 1);
                    margin-bottom: 20px;
                }

                &__body {
                    background: rgba(111, 205, 226, 0.3);
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    flex-direction: column;

                    height: 90%;

                    .tile__item {
                        width: 100%;
                        padding: 6px 0;
                        text-align: left;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        text-align: left;

                        .tile__time {
                            display: block;
                            width: 20%;
                            margin: 0 25px;
                            padding-right: 50px;
                            position: relative;
                            text-align: left;

                            &:after {
                                content: '';
                                @include pos($t: 0, $r:-5%);
                                height: 20px;
                                width: 1px;
                                background: rgba(1, 1, 1, 0.4);
                            }
                        }
                    }

                }
            }
        }
    }
}
