.styles {
    position: relative;

    .styles__bg {
        @include pos($l: 0, $t:-10%);
        width: 100%;
        height: 100%;
        z-index: -1;
        //background: url('../images/styles_bg.png') no-repeat bottom right;
        overflow: hidden;
        
        .paralax__img{
            width: 100%;
            height: 100%;
            
            img{
                margin: 25% 0 0 85%;
                height: 560px;
            }
        }
    }

    .styles__arcticles {
        position: relative;
        .styles__arcticle {
            margin: 0 10px;
            color: $black;

            .arcticle__video {
                margin-bottom: 20px;
            }

            .arcticle__headline {
                font: 700 25px/45px $font;

            }

            .arcticle__text {
                font: 400 16px $font;
            }
        }

    }

}
