.teachers {

    .teachers__header {}

    .teachers__profile {
        margin-bottom: 40px;

        &:hover .profile__photo {
            filter: none;
            -webkit-filter: grayscale(0);
        }

        .profile__photo {
            width: 180px;
            height: 200px;
            background: gray;
            margin-bottom: 20px;
            filter: gray;
            -webkit-filter: grayscale(1);
        }

        .profile__name {
            font: 700 16px/23px $font;
            color: black;
            margin-bottom: 50px;
        }

        .profile__info {
            font: 400 16px/23px $font;
            color: black;
            margin-bottom: 15px;
            height: 70px;
        }

        .profile__social {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: flex-start;
            filter: gray;


            .social__links {
                display: block;
                width: 30px;
                height: 30px;
                text-align: center;
                text-decoration: none;
                margin-right: 5px;
                line-height: 33px;

                &:hover {
                    background: none;
                }



                .icon {
                    color: gray;
                    font-size: 16px;
                }

                .icon-instagram:hover {
                    color: #517fa4;
                }

                .icon-facebook:hover {
                    color: #3b5998;
                }

                .icon-youtube:hover {
                    color: #b31217;
                }

                .icon-phone:hover {
                    color: #0F9D58;
                }

            }
        }
    }

}